/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

body {
  background-color: #191919;
  font-family: 'Raleway', sans-serif; }

p {
  font-size: 100px; }

button {
  border-style: none;
  border-color: transparent;
  cursor: pointer; }

button:focus {
  outline: none; }

.container {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  min-height: 600px; }

.beatmaker {
  position: relative;
  background: #2E2D32;
  padding-top: 20px;
  margin: 0 auto;
  width: 600px;
  min-height: 300px; }

.beatmaker__row {
  display: flex;
  margin-right: 2em;
  z-index: 9999;
  margin-top: 5px; }

.beatmaker__beat,
.beatmaker__but {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.beatmaker--controls {
  position: absolute;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  height: 60px;
  padding: 10px 0;
  width: 100%;
  background: #2F363E;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 99999;
  -webkit-box-shadow: inset -4px 10px 54px -15px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset -4px 10px 54px -15px rgba(0, 0, 0, 0.6);
  box-shadow: inset -4px 10px 54px -15px rgba(0, 0, 0, 0.6); }

.beatmaker__container {
  width: 15%;
  position: relative; }

.beatmaker__but.beatmaker__play,
.beatmaker__but.beatmaker__stop {
  width: 100%;
  height: 25px;
  margin: 10px 0;
  position: absolute;
  top: 0;
  left: 0; }

.beatmaker__but.beatmaker__stop {
  display: none; }

.beatmaker__arrow {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  pointer-events: none;
  border-left-color: #ffffff;
  border-width: 10px;
  margin-top: 0;
  margin-left: 35px; }

.beatmaker__block {
  width: 15px;
  height: 15px;
  background: #ffffff;
  margin-top: 0;
  margin-left: 32px; }

.beatmaker__arrow.active,
.beatmaker__stop.active {
  display: block; }

.beatmaker--controls select {
  margin: 5px; }

.beatmaker__indicator {
  position: absolute;
  width: 20px;
  top: 0;
  height: 100%;
  background: #ffffff;
  opacity: 0;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s; }

.indicator_1 {
  left: 193px; }

.indicator_2 {
  left: 217px; }

.indicator_3 {
  left: 255px; }

.indicator_4 {
  left: 278px; }

.indicator_5 {
  left: 302px; }

.indicator_6 {
  left: 326px; }

.indicator_7 {
  left: 350px; }

.indicator_8 {
  left: 374px; }

.indicator_9 {
  left: 397px; }

.indicator_10 {
  left: 421px; }

.indicator_11 {
  left: 445px; }

.indicator_12 {
  left: 469px; }

.indicator_13 {
  left: 493px; }

.indicator_14 {
  left: 516px; }

.indicator_15 {
  left: 540px; }

.indicator_16 {
  left: 564px; }

.beatmaker__but {
  -webkit-box-flex: 0 !important;
  -webkit-flex: none !important;
  -ms-flex: none !important;
  flex: none !important;
  width: 25%;
  background: #404B4C;
  margin: 0.5em 2em;
  margin-right: 1em;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #FFF;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 5px 0px #323232;
  -moz-box-shadow: 0px 0px 5px 0px #323232;
  box-shadow: 0px 0px 5px 0px #323232; }

.beatmaker__beat {
  width: 30px;
  height: 20px;
  background: #006A77;
  border-radius: 5px;
  color: #F1FAFA;
  font-size: 0.5em;
  z-index: 9999;
  -webkit-box-shadow: 0px 0px 5px 0px #323232;
  -moz-box-shadow: 0px 0px 5px 0px #323232;
  box-shadow: 0px 0px 5px 0px #323232; }

.beatmaker__beat.dark--blue {
  background: #009FB5; }

.beatmaker__beat:active,
.beatmaker__beat.active {
  background: #C76473;
  opacity: 0.6; }

.beatmaker__beat.dark--blue:active,
.beatmaker__beat.dark--blue.active {
  background: #D4383C;
  opacity: 0.6; }

i.active {
  color: #2E2D32; }

.beatmaker__box {
  background: #FFF; }

.grid--gutter {
  margin: 10px 2px 0 2px; }
